@import "./utils/border";
@import "./utils/grid";
@import "./utils/colors";
@import "./utils/spacing";
@import "./utils/typography";
@import "./utils/elevation";
@import "./pages/home";
@import "./pages/frenchstyle";
@import "./components/buttons";

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}
