.step-item {
  background-color: $color-primary;
  border-radius: $borderMax;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  position: relative;
  left: -30px;
  width: 25px;
  height: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: $col-12;
  aspect-ratio: 3 / 2;
  border-radius: $borderLg;
  box-shadow: $md-shadow;
  margin-top: $spacingLg;

  img {
    height: 66%;
    object-fit: cover;
    border-radius: $borderLg $borderLg 0 0;
  }

  .new {
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40%);
    position: absolute;
    top: 10px;
    right: 10px;
    width: $col-3;
    text-align: center;
    padding: $spacingXXSm;
    border-radius: $borderSm;
  }
}

.heart-container {
  position: relative;
  right: 32px;

  .fa-heart {
    color: #9356dc;
    position: absolute;
    transition: 0.5s;
  }

  .fa-regular {
    opacity: 1;
  }

  .fa-solid {
    opacity: 0;
  }

  &:hover {
    .fa-regular {
      opacity: 0;
    }
    .fa-solid {
      opacity: 1;
    }
  }
}
