.menu {
  position: relative;
  bottom: 25px;
  border-radius: $borderXLg $borderXLg 0 0;
  background-color: #fcfcfc;
  width: 90%;
  margin: 0 auto;
}

.dish {
  overflow: hidden;
  position: relative;
  div:nth-child(1) {
    transition: width 1s;
  }
}

.dish:hover {
  div:nth-child(1) {
    width: calc(100% - 120px);
  }

  .check {
    transform: translateX(-100px);
  }
  .fa-circle-check {
    transform: rotate(360deg);
  }
}

.check {
  background-color: #99e2d0;
  position: absolute;
  right: -100px;
  width: 100px;
  height: 100%;
  border-radius: 0 $borderLg $borderLg 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fa-circle-check,

.check {
  transition: 1s;
}

hr {
  width: 10%;
  margin-left: 0;
  background-color: #99e2d0;
  border: none;
  height: 3px;
}

.dishes div:nth-child(1) {
  animation: 1s fadeIn;
}

.dishes div:nth-child(2) {
  animation: 2s fadeIn;
}

.dishes div:nth-child(3) {
  animation: 3s fadeIn;
}
.dishes div:nth-child(4) {
  animation: 4s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
