$spacingXXSm: 4px;
$spacingXSm: 8px;
$spacingSm: 16px;
$spacingMd: 24px;
$spacingLg: 32px;
$spacingXLg: 48px;
$spacingXXLg: 64px;

/**
 * Margin
 **/
.m-XXSm {
  margin: $spacingXXSm;
}
.m-XSm {
  margin: $spacingXSm;
}
.m-Sm {
  margin: $spacingSm;
}
.m-Md {
  margin: $spacingMd;
}
.m-Lg {
  margin: $spacingLg;
}
.m-XLg {
  margin: $spacingXLg;
}
.m-XXLg {
  margin: $spacingXXLg;
}
.mt-XXSm {
  margin-top: $spacingXXSm;
}
.mt-XSm {
  margin-top: $spacingXSm;
}
.mt-Sm {
  margin-top: $spacingSm;
}
.mt-Md {
  margin-top: $spacingMd;
}
.mt-Lg {
  margin-top: $spacingLg;
}
.mt-XLg {
  margin-top: $spacingXLg;
}
.mt-XXLg {
  margin-top: $spacingXXLg;
}

.mr-XXSm {
  margin-right: $spacingXXSm;
}
.mr-XSm {
  margin-right: $spacingXSm;
}
.mr-Sm {
  margin-right: $spacingSm;
}
.mr-Md {
  margin-right: $spacingMd;
}
.mr-Lg {
  margin-right: $spacingLg;
}
.mr-XLg {
  margin-right: $spacingXLg;
}
.mr-XXLg {
  margin-right: $spacingXXLg;
}

.mb-XXSm {
  margin-bottom: $spacingXXSm;
}
.mb-XSm {
  margin-bottom: $spacingXSm;
}
.mb-Sm {
  margin-bottom: $spacingSm;
}
.mb-Md {
  margin-bottom: $spacingMd;
}
.mb-Lg {
  margin-bottom: $spacingLg;
}
.mb-XLg {
  margin-bottom: $spacingXLg;
}
.mb-XXLg {
  margin-bottom: $spacingXXLg;
}

.ml-XXSm {
  margin-left: $spacingXXSm;
}
.ml-XSm {
  margin-left: $spacingXSm;
}
.ml-Sm {
  margin-left: $spacingSm;
}
.ml-Md {
  margin-left: $spacingMd;
}
.ml-Lg {
  margin-left: $spacingLg;
}
.ml-XLg {
  margin-left: $spacingXLg;
}
.ml-XXLg {
  margin-left: $spacingXXLg;
}

/**
* Padding
**/

.p-XXSm {
  padding: $spacingXXSm;
}
.p-XSm {
  padding: $spacingXSm;
}
.p-Sm {
  padding: $spacingSm;
}
.p-Md {
  padding: $spacingMd;
}
.p-Lg {
  padding: $spacingLg;
}
.p-XLg {
  padding: $spacingXLg;
}
.p-XXLg {
  padding: $spacingXXLg;
}

.pt-XXSm {
  padding-top: $spacingXXSm;
}
.pt-XSm {
  padding-top: $spacingXSm;
}
.pt-Sm {
  padding-top: $spacingSm;
}
.pt-Md {
  padding-top: $spacingMd;
}
.pt-Lg {
  padding-top: $spacingLg;
}
.pt-XLg {
  padding-top: $spacingXLg;
}
.pt-XXLg {
  padding-top: $spacingXXLg;
}

.pr-XXSm {
  padding-right: $spacingXXSm;
}
.pr-XSm {
  padding-right: $spacingXSm;
}
.pr-Sm {
  padding-right: $spacingSm;
}
.pr-Md {
  padding-right: $spacingMd;
}
.pr-Lg {
  padding-right: $spacingLg;
}
.pr-XLg {
  padding-right: $spacingXLg;
}
.pr-XXLg {
  padding-right: $spacingXXLg;
}

.pb-XXSm {
  padding-bottom: $spacingXXSm;
}
.pb-XSm {
  padding-bottom: $spacingXSm;
}
.pb-Sm {
  padding-bottom: $spacingSm;
}
.pb-Md {
  padding-bottom: $spacingMd;
}
.pb-Lg {
  padding-bottom: $spacingLg;
}
.pb-XLg {
  padding-bottom: $spacingXLg;
}
.pb-XXLg {
  padding-bottom: $spacingXXLg;
}

.pl-XXSm {
  padding-left: $spacingXXSm;
}
.pl-XSm {
  padding-left: $spacingXSm;
}
.pl-Sm {
  padding-left: $spacingSm;
}
.pl-Md {
  padding-left: $spacingMd;
}
.pl-Lg {
  padding-left: $spacingLg;
}
.pl-XLg {
  padding-left: $spacingXLg;
}
.pl-XXLg {
  padding-left: $spacingXXLg;
}
